body {
    font-family: 'Poppins', sans-serif;
}

.header-title {
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px;
    text-align: center;
    color: aliceblue;
}

.header-title h1 {
    font-size: 40px;
}

.donate-button {
    background-color: #FF5959;
    border: none;
    color: aliceblue;
    padding: 10px;

}


.donate {
    text-align: center;
    margin-top: 40px;

}

.donate h2 {
    font-size: 40px;

}

.donate-taka {
    display: flex;
    color: #707070;

}

.donate-taka h1 {
    margin-left: 150px;
}

.donate-taka .taka {
    background-color: #FFEEEE;
    padding: 20px;
    border: 1px solid red;
    color: #FF5959;
}

hr {
    width: 50%;
    height: 2px;
    color: gray;
    background-color: gray;

}


.donate-plan {
    text-align: center;
    margin-top: 150px;
}

.plan {
    display: flex;
    margin-top: 50px;

}

.plan .food {
    background-color: #EDF5F6;
    padding: 10px;
    text-align: left;
    margin: 5px;
}

.plan .shelter {
    background-color: #FFEEEE;
    padding: 10px;
    text-align: left;
    margin: 5px;
}

.plan .education {
    background-color: #FFF4D6;
    padding: 10px;
    text-align: left;
    margin: 5px;
}

.donate-plan h1 {
    font-size: 40px;
}