body {
    font-family: 'Poppins', sans-serif;
}

/*******header area********/
.header-title {
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px;
    text-align: center;
    color: aliceblue;
}

.header-title h1 {
    font-size: 40px;
}

.donate-button {
    background-color: #FF5959;
    border: none;
    color: aliceblue;
    padding: 10px;

}

/****donate today******/
.donate {
    text-align: center;
    margin-top: 40px;

}

.donate h2 {
    font-size: 40px;

}

.donate-taka {
    display: flex;
    color: #707070;

}

.donate-taka h1 {
    margin-left: 150px;
}

.donate-taka .taka {
    background-color: #FFEEEE;
    padding: 20px;
    border: 1px solid red;
    color: #FF5959;
}

hr {
    width: 50%;
    height: 2px;
    color: gray;
    background-color: gray;

}

/*****donate plan******/
.donate-plan {
    text-align: center;
    margin-top: 150px;
}

.plan {
    display: flex;
    margin-top: 50px;

}

.plan .food {
    background-color: #EDF5F6;
    padding: 10px;
    text-align: left;
    margin: 5px;
}

.plan .shelter {
    background-color: #FFEEEE;
    padding: 10px;
    text-align: left;
    margin: 5px;
}

.plan .education {
    background-color: #FFF4D6;
    padding: 10px;
    text-align: left;
    margin: 5px;
}

.donate-plan h1 {
    font-size: 40px;
}

/******update-area*******/
#update-area {
    text-align: center;
    margin-top: 50px;
}

.update-title h1 {
    font-size: 40px;

}

/***gallery****/
.gallery {

    margin-left: 40px;
}

.gallery h1 {
    font-size: 40px;
    text-align: center;
}

.form {
    background-color: #FFF4D6;
    padding: 20px;
    width: 50%;
    margin-left: 300px;
}

/*****footer area********/
footer {
    background-color: black;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

footer h2 {
    color: #F05454;
}

footer p {
    color: #EDF5F6;
}